html{
    scroll-behavior: smooth;
    margin: 0 auto;
}

h1, h2, h3, h4, h5, h6, p{
    font-family: 'Montserrat', sans-serif;
}

body{
    margin: 0 auto;
    overflow-x: hidden;
}

.translate{
    font-size: 10px;
}

.header{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    width: -webkit-fill-available;
    background-color: #344E4180;
    height: 100px;
    z-index: 999;
}

.header #myLinks{
    display: none;
}

.header-left{
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 0px 0px 200rem 0px;
}

.header-left img{
    height: 90px;
    margin-left: 40px;
    margin-right: 120px;
}

.header-right-expand{
    display: flex;
    width: 800px;
    justify-content: space-between;
    align-items: center;
    padding-right: 50px;
    z-index: 999;
}

.header-right-expand h6{
    color: white;
    font-size: 20px;
    text-align: right;
    
}

.header-right-expand a{
    color: white;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
}

.header-right-expand a:hover{
    text-shadow: 1px 1px 3px #343030;
    text-decoration: underline;
}

.mobile-hamburger{
    display: none;
}


.hero-content{
    border-radius: 0px 0px 200rem 0px;
    margin-top: -10px;
    /* overflow: hidden; */
}

.hero-content img{
    width: 100%;
    height: 50rem;
    position: relative;
}

.hero-content h1{
    color: #FFFFFF;
    text-shadow: 4px 1px 3px #504d4d;
    margin-left: 20px;
    width: 600px;
    position: absolute;
    top: 21rem;
    left: 20px;
    animation: slideUp ease 1s forwards;
    z-index: 9;
}

.hero-content h3{
    color: #FFFFFF;
    text-shadow: 4px 1px 3px #343030;
    margin-left: 20px;
    width: 600px;
    position: absolute;
    top: 27rem;
    left: 20px;
    animation: slideUp ease 1s forwards;
    z-index: 9;
}

.about{
    padding: 100px;
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)), url('/assets/about.jpg');
    background-size: contain;
    background-repeat: round;
    display: flex;
    justify-content: right;
    /* border-radius: 0px 0px 20px 20px; */
}

.about-text{
    background-color: rgba(255, 255, 255, .7);
    border-radius: 10px;
    width: 500px;
    padding: 30px;
    box-shadow: 0px 0px 10px 7px #a09d9d;
}

.about-text h4{
    width: 500px;
    line-height: 20pt;
}

.services{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)), url('/assets/img3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    padding: 20px 100px 20px 100px;
    border-radius: 150px 0px 150px 0px;
}

.services button{
    padding: 10px 20px 10px 20px;
    border-radius: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    margin-top: 30px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 0px 8px 1px #666161;
    font-weight: bold;
}

.services button:hover{
    box-shadow: 0px 0px 8px 4px #666161; 
    cursor: pointer;
}

.services h1{
    color: black;
    text-shadow: 1px 0px 12px #ffffff;
}

.services-card-container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.services-card{
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    width: 250px;
    height: 250px;
    text-align: center;
    box-shadow: 0px 0px 8px 1px #666161;
    margin: 10px;
    cursor: default;
}

.services-card:hover{
    box-shadow: 0px 0px 8px 4px #666161;
}

.services-card h3{
    color: black;
    text-shadow: none;
    /* margin: 5px; */
}

.services-card p{
    margin: 5px;
}

.reviews{
    padding: 20px 100px 20px 100px;
    justify-content: space-between;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
}

.reviews h3{
    color: black;
    text-shadow: none;
}

.reviews-text{
    width: 500px;
    margin-right: 50px;
}

.reviews-text h1{
    margin-top: 5px;
}

.reviews-text button{
    background-color: rgba(103,162,24,1);
    padding: 10px 20px 10px 20px;
    border: none;
    border-radius: 10px;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.reviews-text button:hover{
    box-shadow: 0px 0px 7px 3px rgba(81,105,80,.5);
    cursor: pointer;
}

.reviews-container{
    display: flex;
    /* justify-content: space-between; */
    width: 1000px;
    margin: 0 auto;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: hidden;
}

.review-info{
    background-color: white;
    border-radius: 20px;
    padding: 10px;
    width: 200px;
    height: 150px;
    text-align: center;
    display: grid;
    align-items: center;
    box-shadow: 0px 0px 13px 2px #666161;
    margin: 10px;
}

.review-info img{
    width: 175px;
    margin: 0 auto;
}

.review-info h5{
    margin: 0;
}

.guarantee{
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(0, 0, 0, 0)), url('/assets/img4.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    padding: 40px 150px 40px 150px;
    display: block;
    justify-content: space-between;
    border-radius: 0px 200rem 0px 0px;
    color: black;
}

.guarantee-text h1{
    color: black;
    text-shadow: 2px 2px 4px rgba(255,255,255,1);
}

.guarantee-text p{
    font-weight: bold;
    line-height: 20pt;
}

.guarantee-icons{
    /* width: 300px; */
    display: flex;
    justify-content: center;
    margin: 0 auto;
    flex-wrap: wrap;
}

.icon{
    margin: 10px;
    padding: 10px;
    background-color: white;
    align-items: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0px 0px 12px 2px #666161;
    width: 170px;
}

.icon h5{
    margin: 0 auto;
    /* width: 80px; */
}

.icon img{
    width: 100px;
}

.footer{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 100px 20px 100px;
    color: white;
    background: rgb(81,105,80);
    background: linear-gradient(241deg, rgba(81,105,80,1) 0%, rgba(103,162,24,1) 50%, rgba(255,255,255,1) 100%);
}

.footer a{
    color: white;
    text-decoration: none;
}

.footer a:hover{
    text-decoration: underline;
}

.footer-1{
    display: flex;
    align-items: center;
}

.footer-1 img{
    width: 200px;
}

.footer-2 h3{
    text-align: center;
    margin-bottom: 0px;
}

.footer-services{
    width: 150px;
    justify-content: center;
    display: grid;
    text-align: center;
}

.footer-services h5{
    margin: 10px;
}

.footer-3 h3{
    text-align: center;
}

.footer-4 h3{
    text-align: center;
}

.footer-3, .footer-4{
    text-align: center;
}

/* NEW SLIDESHOW CSS */
.fling-minislide { 
    width:100%; 
    height:auto; 
    overflow:hidden; 
    /* position:relative;  */
}

.fling-minislide img{ 
    position:absolute; 
    animation:fling-minislide 20s infinite; 
    opacity:0; 
    width: 100%; 
    height: 50rem;
    border-radius: 0px 0px 20rem 0px;
}

@keyframes fling-minislide {25%{opacity:1;} 40%{opacity:0;}}
.fling-minislide img:nth-child(4){animation-delay:0s;}
.fling-minislide img:nth-child(3){animation-delay:5s;}
.fling-minislide img:nth-child(2){animation-delay:10s;}
.fling-minislide img:nth-child(1){animation-delay:15s;}



@keyframes slideUp {
    0% {transform: translateY(0);opacity:.5}
    100% {transform: translateY(-40px);opacity:1;}
  }

/************CSS Animation***********/

.animated { 
	animation-name: fadeIn; 
	animation-duration: 1.5s;
}
@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.fadeIn {
	animation-name: fadeIn;
}


@media (max-width: 975px) {
    .about{
        background-repeat: no-repeat;
        background-size: cover;
    }

    .reviews{
        display: block;
        text-align: -webkit-center;
        width: 100%;
        justify-content: center;
    }

    .reviews-text{
        margin-right: 0;
        margin-bottom: 20px;
    }
    .footer{
        display: block;
        padding: 20px;
        text-align: center;
    }

    .footer-services{
        margin: 0 auto;
    }

    .footer-1, .footer-2, .footer-3, .footer-4{
        margin-bottom: 40px;
    }

    .footer-1{
        justify-content: center;
    }

    .hero-content h1{
        width: 300px;
    }

    .hero-content h3{
        width: 300px;
        top: 30rem;
    }

    .about{
        justify-content: center;
    }

    .about-text{
        width: 300px;
    }

    .about-text h4{
        width: 300px;
        text-align: center;
    }


}

/* ALTER THIS LATER */
@media (max-width: 950px ) {

    .mobile-hamburger{
        display: flex;
        text-decoration: none;
    }

    .header-right-expand{
        display: none;
    }

    /* Mobile */
.header-right-mobile{
    display: flex;
    /* width: 800px; */
    justify-content: space-between;
    align-items: center;
    /* padding-right: 50px; */
    padding: 20px;
    /* height: 310px; */
    position: absolute;
    background-color: #344E4180;
    right: 0;
    top: 100px;
}

.header-right-mobile h6{
    color: white;
    font-size: 20px;
    text-align: right;
    margin: 5px;
    
}

.header-right-mobile a{
    color: white;
    font-size: 20px;
    text-align: right;
    text-decoration: none;
}

.header-right-mobile a:hover{
    text-shadow: 1px 1px 3px #343030;
    text-decoration: underline;
}

.fa{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-right: 20px;
    font-size: 45px;
    color: white;
}


}

@media (max-width: 500px ) {
    .header{
        width: 100%;
    }

    .header-left img{
        margin-left: 20px;
        margin-right: 70px;
    }

    .hero-content{
        width: 100%;
    }

    .fling-minislide{
        width: 100%;
    }

    .fling-minislide img{
        width: 103%;
        height: 30rem;
        border-radius: 0px;
    }

    .hero-content h1{
        margin-left: 0;
        margin-right: 0;
        /* width: 100%; */
        text-align: center;
        top: 12rem;
        padding-left: 10px;
        padding-right: 10px;
    }

    .hero-content h3{
        margin-left: 0;
        margin-right: 0;
        text-align: center;
        /* left: 0; */
        /* width: 100%; */
        padding-right: 10px;
        padding-left: 10px;
        top: 18rem;
    }


    .about{
        padding: 40px;
        margin-top: -19rem;
    }

    .about-text{
        background-color: rgba(255, 255, 255, .6);
        background-size: cover;
        width: 300px;
    }

    .about-text h4{
        width: auto;
    }

    .services{
        padding: 40px;
    }

    .reviews{
        display: block;
        text-align: center;
        width: fit-content;
    }

    .reviews-text{
        margin-right: 0;
    }

    .reviews-container{
        display: grid;
        justify-content: center;
        width: 300px;
        margin-top: 20px;
    }

    .footer-1, .footer-2, .footer-3, .footer-4{
        width: 300px;
        margin: 0 auto;
    }

    .footer{
        padding: 0;
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .guarantee-left{
        display: none;
    }

    .guarantee{
        padding: 40px;
    }

    .reviews-text{
        width: 300px;
    }

    .reviews{
        padding: 30px;
    }

    .hero-content{
        border-radius: 0px;
    }


}




